:root {
    --color1: #F8F0E5;
    --color2: #102C57;
    --color3: #EADBC8;
    --color4: #DAC0A3;
    --color5: #606C5D;
}

body {
    font-family: "Galdeano", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--color1);
}
.title {
    padding: 10px;
}
.title h1{
    color: #FFD95A;
}

.header {
    background-color: var(--color2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 3rem;
    display: flex;
    border: 2px solid var(--color1);
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    color: var(--color5);
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 2rem;
}

a {
    text-decoration: none;
    color: var(--color5);
    font-weight: bold;
}

.main2,
.main3,
.main4 {
    display: none;
}

a:hover {
    color: var(--color1);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    padding: 3rem;
}

.profile {
    text-align: center;
    background-color: var(--color3);
    border-radius: 10px;
    padding: 3rem;
    position: relative;
    transition: 0.3s ease-in-out;
    height: auto;
}

.profile:hover {
    box-shadow: 0 20px 80px rgba(255, 96, 0, 0.9);
}

.profile img {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--color4);
    transition: 0.3s ease-in-out;
}

.picture:hover {
    transform: scale(1.2);
}

.profile h2 {
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: #222;
}

.profile p {
    margin: 0.75rem 0;
    color: var(--color5);
    line-height: 1.5;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.follow-button,
.message-button,
.edit-button {
    background-color: var(--color4);
    color: var(--color5);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.follow-button:hover,
.message-button:hover,
.edit-button:hover {
    background-color: var(--color2);
    box-shadow: 0 4px 40px rgba(6, 3, 2, 0.9);
}


.social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.social-links li {
    margin-right: 1.5rem;
}

.social-links a {
    color: var(--color5);
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
}

.social-links a:hover {
    text-shadow: 0 0 3px var(--color4);
    color: var(--color2);
}

.bookmarks {
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--color3);
    transition: 0.3s ease-in-out;
}

.bookmarks:hover {
    box-shadow: 0 20px 80px rgba(255, 96, 0, 0.9);
}

.bookmarks h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #222;
}

.bookmarks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0;
}

.bookmarks li {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.bookmarks li img {
    width: 90%;
    height: 250px;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}

.bookmarks a:hover img {
    transform: scale(1.1);
}

@media only screen and (max-width: 1600px) {
    .profile {
        height: 40%;
    }
}

@media only screen and (max-width: 1500px) {
    .profile {
        height: 25%;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        grid-template-columns: 1fr;
        padding: 2%;
        padding-top: 3%;
    }

    .profile {
        height: 80%;
    }
}

@media only screen and (max-width: 768px) {

    .profile,
    .bookmarks {
        padding: 2rem;
    }

    .profile {
        height: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .header h1 {
        font-size: 1.2rem;
    }

    .profile img {
        width: 150px;
        height: 100px;
    }

    .profile h2,
    .bookmarks h2 {
        font-size: 1.4rem;
    }

    .social-links a,
    .bookmarks a {
        font-size: 1rem;
    }
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 2px;
}
