@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --color1: #F8F0E5;
  --color2: #102C57;
  --color3: #EADBC8;
  --color4: #DAC0A3;
  --color5: #606C5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: rgb(0, 0, 0);
  text-align: center;
}

.content {
  width: 330px;
  padding: 40px 30px;
  background: var(--color1);
  border-radius: 10px;
  box-shadow: -3px -3px 20px var(--color4), 2px 2px 40px var(--color4);
  animation: slideIn 0.5s forwards;
}

.content .text {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: var(--color5);
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  opacity: 0;
  animation: slideInFields 0.5s forwards;
}

.field:nth-child(2), .field:nth-child(3) {
  margin-top: 20px;
}

.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: var(--color3);
  color: var(--color5);
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #FF6000, inset -5px -5px 10px #ffffff73;
}

.field input:focus {
  box-shadow: inset 1px 1px 2px #FF6000, inset -1px -1px 2px #ffffff73;
}

.field span {
  position: absolute;
  color: var(--color5);
  width: 50px;
  line-height: 50px;
}

.field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}

.field input:valid ~ label {
  opacity: 0;
}

button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #FFE6C7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color5);
  box-shadow: 2px 2px 5px #FF6000, -5px -5px 10px #ffffff73;
}

button:focus {
  color: #FFA559;
  box-shadow: inset 2px 2px 5px #FF6000, inset -5px -5px 10px #ffffff73;
}

.login {
  margin: 10px 0;
  color: var(--color5);
  font-size: 16px;
}

.login a {
  color: #3498db;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFields {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
